<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<body>
  <div class="welcome">
    <h1>Order food delivery from your favorite restaurants</h1>
    <div class="zip">
      
      <div class="inputWithIcon">
        <p class="zipP">Enter your zip code here</p>
        <i class="fa fa-map-marker" aria-hidden="false"></i>
        <input type="text" placeholder="Street address or ZipCode">
        <input type="submit" id="zipButton" value="Find Food">
        
      </div>
    </div>
</div>
</body>