.address-card{
    border: 1px gray solid;
    padding: 15px;
}
.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    font-style: italic;
}
.phone{
    border-left: 1px gray solid;
    padding-left: 5px;
}