.header{
    background-color: rgb(204, 27, 27);
    text-align: center;
    text-decoration-line: line-through;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    height: 50px;
}
.signin{
    float:right
}
.eat24{
    float: left;
    margin-top: -12px;
    text-align:start;
}
.button {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: right;
    border-radius: 4px;
    box-shadow:inset;
    text-decoration-color: aliceblue;
    text-align: center;
    text-decoration:brown;
    font-size: 18px;
    height: 30px;
    margin-top: -7px;
}
.cart-icon{
    float: right;
    margin-top: -10px;
    margin-right: 7px;
    width: 35px;
    height: 35px;
}
body{
    margin-bottom: -100px;
}
.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}