<div>
  <h1>How to Grubhub</h1>
  <p>Ordering from your favorite restaurant is even easier than eating</p>
  <div id="howtogrub">
    <div class="process">
      <img src="assets/images/burger_search.png">
      <h3>The where</h3>
      <p>Browse menus from your favorite local restaurants.</p>
    </div>
    <div class="process">
      <img src="assets/images/checkmark.png">
      <h3>The what</h3>
      <p>Select what you want to eat. Submit your order.</p>
    </div>
    <div class="process"> 
      <img src="assets/images/delivery.jpg">
      <h3>The delivery</h3>
      <p>Get the door and enjoy your food!</p>
    </div>
  </div>
</div> 