<div id="soundbites1">
  <h2>Sound bites</h2>
  <div id="soundbites">
    <div class="reviews" id=onereview>
      <div class="reviewcontent">
        <img src="assets/images/cropmalvika.gif">
      </div>
      <div class="reviewcontent">
        <p>@Grubhub I love you, Grubhub! Just ordered me some grub, and I tell you, you folks make that part of my life easy. Thanks!</p>
        <h4 style="text-align: left">@malvikasharma</h4>
      </div>
    </div>
    <div class="reviews" id=onereview>
      <div class="reviewcontent">
        <img src="assets/images/cropcristiano.gif">
      </div>
      <div class="reviewcontent">
        <p>Made my first @Grubhub order today. So great to be able to order food and not have to talk to anyone.</p>
        <h4 style="text-align: left">@cristianoronaldo</h4>
      </div>
    </div>
    <div class="reviews" id=onereview>
      <div class="reviewcontent">
        <img src="assets/images/cropsalena.gif">
      </div>
      <div class="reviewcontent">
        <p>Shout out to Grubhub for making my life so so easy.</p>
        <h4 style="text-align: left">@salenagomez</h4>
      </div>
    </div>
    <div class="reviews" id=onereview>
      <div class="reviewcontent">
        <img src="assets/images/croprandom.gif">
      </div>
      <div class="reviewcontent">
        <p>Seriously, @Grubhub makes it easy for my coworkers and I to order food and get it to our office in a jiffy. FOOD!</p>
        <h4 style="text-align: left">@randomguy</h4>
      </div>
    </div>
</div>